.top-grey {
    fill:#D2D6EF;
    stroke:#FFFFFF;
    stroke-width:2;
    stroke-miterlimit:10;
}
.left-ltblue {
    fill:#BCF0F7;
    stroke:#FFFFFF;
    stroke-width:2;
    stroke-miterlimit:10;
}
.left-rose {
    fill:#B79FAD;
    stroke:#FFFFFF;
    stroke-width:2;
    stroke-miterlimit:10;
}
.left-dkgrey {
    fill:#798086;
    stroke:#FFFFFF;
    stroke-width:2;
    stroke-miterlimit:10;
}
.right-turquoise {
    fill:#164C57;
    stroke:#FFFFFF;
    stroke-width:2;
    stroke-miterlimit:10;
}
.right-dkrose {
    fill:#754E65;
    stroke:#FFFFFF;
    stroke-width:2;
    stroke-miterlimit:10;
}
.right-pink { 
    fill:#D4AFCD;
    stroke:#FFFFFF;
    stroke-width:2;
    stroke-miterlimit:10;
}