// ---------- SLIDE IN MENU -----------
.nav {
    position: fixed;
    left: -200px;
	top: 0;
	bottom: 0;
	list-style: none;
	background: $mdblue;
    width: 200px;
    height: 275px;
	margin: 0;
    padding-top: 20px;
	line-height: 15px;
	transition: all 0.5s;
    border-right: 1px solid $blue;
    border-bottom: 1px solid $blue;
	z-index: 20;
    li {
        width: 100%;
        a {
            @include title-styles(22);
            text-align: left;
            color: $blue;
            text-decoration: none;
            margin: 0;
            padding: 40px 20px 0;
            display: inline-block;
            width: 100%;
            &:hover {
                color: white;
                transition: all 0.3s;
                border-bottom: 1px solid white;
            }
        }
    }
}

.site--wrapper {
	width: 100%;
	position: relative;
	left: 0;
	transition: all 0.5s;
	// border: 1px solid red;
}

#toggle:checked + .nav {
	left: 0;
}
input:checked {
	left: 200px;
}
#toggle {
    display: none;
}
// ---- TOP BAR ----
.top-bar {
    width: 100%;
    max-width: 1800px;
	height: 40px;
	position: fixed;
	top: 0px;
    left: 0px;
    border-bottom: 1px solid $blue;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	background: $mdblue;
    z-index: 30;
	.fa-bars, .container--nav {
		margin: 0;
		padding: 0;
	}
	label {
		font-size: 25px;
        padding-left: 20px;
        color: white;
	}
	.fa-bars {	
        width: 5%;
        color: $blue;
        display: none;
    }
	.container--nav {	
        display: block;
        width: 95%;
        ul {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            li {
                // padding: 0 15px;
                a {
                    @include title-styles(18);
                    transition: all 0.3s ease-in-out;
                    padding: 0 5%;
                    &:hover {
                        color: white;
                    }
                }
            }
        }
    }
}

// HERO
.hero {
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.6),rgba(255, 255, 255, 0.6)), url(../assets/hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-top: 40px;
    height: 95vh;
    .container--titles {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 15%;
    }
}

// ------ RESPONSIVENESS ------
@media (max-width: 770px) {
    .top-bar {
            .container--nav {
            display: none;
        }
        .fa-bars {
            display: block;
        }
    }
}