$basefont1: 'Unica One', sans-serif;
$basefont2: 'Source Sans Pro', sans-serif;
$herofont: 'Cabin Sketch', sans-serif;

$blue: #465353;
$mdblue: #c7d1d1;
$ltblue: #f1f3f3;
$dkgrey: #222222;
$mdgrey: #5d5e5d;
$ltgrey: #e3e8e8;

@mixin hero-styles($sizeValue) {
    font-size: $sizeValue * 1px;
    font-size: ($sizeValue/10) * 1rem;
    font-family: $herofont;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #164c57;
}

@mixin title-styles($sizeValue) {
    font-size: $sizeValue * 1px;
    font-size: ($sizeValue/10) * 1rem;
    font-family: $basefont1;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: $blue;
}
@mixin paragraph-styles($sizeValue) {
    font-size: $sizeValue * 1px;
    font-size: ($sizeValue/10) * 1rem;
    font-family: $basefont2;
    font-weight: 300;
    letter-spacing: 1px;
    color: $dkgrey;
}
html {
    font-size: 62.5%;
}
body {
    font-size: 1.7rem;
}
h1 {
    @include hero-styles (90);
    letter-spacing: 3px;
    text-shadow: 1px 1px 5px $mdgrey;
    padding-right: 3%;
    text-align: right;
}
h2, h3 {
    @include hero-styles (35);
    text-shadow: 1px 1px 3px $mdblue;
}
// .h2-hero {
//     @include hero-styles (35);
//     color: #164c57;
//     font-size: 40px;
//     text-align: center;
//     text-transform: uppercase;
//     letter-spacing: 6px;
//     text-shadow: 1px 1px 5px $mdgrey;
// }
h3 {
    @include title-styles (30);
    text-align: center;
}
// .h3-left {
//     text-align: left;
// }
.h4-upper {
    @include title-styles (24);
    text-align: left;
}
.h4-lower {
    @include title-styles (24);
    text-transform: lowercase;
    text-align: center;
}
.h4-lower-left {
    @include title-styles (20);
    text-transform: lowercase;
    text-align: left;
}
h5 {
    @include paragraph-styles(14);
    font-weight: 300;
    color: $mdgrey;
    letter-spacing: 1px;
}
ul, li {
    @include paragraph-styles (17);
}
.container--nav {
    li {
        @include title-styles(20);
        text-align: center;
    }
}
.list-items__uppercase {
    @include title-styles (18);
    text-transform: uppercase;
    text-align: center;
    color: $blue;
    padding: 3% 0;
}
p {
    @include paragraph-styles (17);
}
.white {
    color: white;
    text-shadow: 1px 1px 1px darkslategray;
}
// --TEXT ADJUSTMENTS--
.text--paragraph__left {
    padding-right: 2.5%;
}
.text--paragraph__right {
    padding-right: 10%;
}
.text--paragraph__bottom {
    padding-bottom: 5%;
}
.text--paragraph__top {
    padding-top: 5%;
}
.text--paragraph__comms {
    padding: 0 5% 2% 5%;
}
.text--paragraph__white {
    color: white;
}
.text--paragraph__spacing {
    padding: 10px 70px;
}

// --RESPONSIVENESS--
// @media (max-width: 930px) {
//     h1 {
//         @include hero-styles (55);
//     }
// }
@media (max-width: 750px) {
    h1 {
        @include hero-styles (60);
    }
}
@media (max-width: 600px) {
    h2 {
        @include title-styles (30);
    }
    .h2--hero {
        font-size: 28px;
    }
    .text--paragraph__right {
        padding-right: 5%;
    }
    .text--paragraph__spacing {
        padding: 10px 20px;
    }
}
@media (max-width: 550px) {
    .text--paragraph__comms {
        padding: 5% 5% 4% 5%;
    }
    .list-items__uppercase {
        padding: 2% 0;
    }
}
@media (max-width: 500px) {
    h1 {
        @include hero-styles (45);
    }
}
