// PARTIALS
@import "partials/_setup.scss";
@import "partials/_typography.scss";
@import "partials/_menu.scss";

// ----- GENERAL STYLES -----
html {
    scroll-behavior: smooth;
}
body {
    background-color: white;
}
ul {
    list-style-type: none;
}
img {
    width: 100%;
    display: block;
}
a {
    text-decoration: none;
}
.site--wrapper {
    max-width: 2600px;
    width: 100%;
}
// CONTENT CONTAINER
.content--container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.content--container.full {
    width: 100%;
}
.content--container.border {
    border: 1px solid $mdblue;
    box-shadow: 1px 1px 3px $ltblue;
}
.content--container.reverse {
    display: flex;
    flex-direction: row-reverse;
}
.content--container.edges {
    width: 90%;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
// TITLE
.content--container__title {
    width: 90%;
    height: 50px;
    border: 1px solid $ltgrey;
    margin: 50px auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.content--container__title.tight {
    margin: 50px auto 0;
}
// TEXT
.content--container__text {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
}
.content--container__text.edges {
    padding-left: 5%; 
    border-top: 1px solid $mdblue;
}
.content--container__text.three-edges {
    padding: 5% 0 5% 5%;
    border-top: 1px solid $mdblue;
}
// BUTTON
.content--container__button {
    display: flex;
    flex-direction: row;
}
.content--container__button-center {
    margin: 0 auto;
}
.content--container__button.top-margin {
    margin-top: 3%;
}
// IMAGES
.content--container__image {
    width: 50%;
}
.content--container__image.small {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top: 1px solid $mdblue;
    padding: 5% 0;
    a {
        width: 75%;
        // box-shadow: 3px 3px 10px $mdgrey;
    }
    img {
        width: 100%;
        box-shadow: 3px 3px 10px $mdgrey;
    }
    .right-margin {
        width: 80%;
    }
}
.grow { 
    transition: all .2s ease-in-out;
    &:hover {
        transform: scale(1.1); 
    }
}
// ----- ABOUT ME -----
.content--container__about {
    width: 65%;
    padding: 5% 0;
    background-color: $ltblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.content--container__image.background {
    width: 35%;
    background-image: url(../assets/profile_pic.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 350px;
    max-height: 460px;
}
.content--container__text.blue {
    background-color: $blue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 30px 0;
}
.wrapper--sides.outline--top {
    width: 90%;
    height: 30px;
    margin: 40px auto 0;
    border-top: 1px solid $ltgrey;
    border-right: 1px solid $ltgrey;
    border-left: 1px solid $ltgrey;
}
.wrapper--sides.outline--bottom {
    width: 90%;
    height: 30px;
    margin: 0 auto 40px;
    border-bottom: 1px solid $ltgrey;
    border-right: 1px solid $ltgrey;
    border-left: 1px solid $ltgrey;
}
// ----- PORTFOLIO -----
.portfolio {
    display: flex;
    flex-direction: column;
}
.portfolio--skills {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    color: $blue;
    padding-right: 10%;
}
.view-site {
    margin-right: 3%;
}
.view-site, .github {
    width: 180px;
    padding: 10px 5px;
    @include title-styles(16);
    background-color: $mdblue;
    border: 1px solid $blue;
    box-shadow: 1px 1px 4px $mdblue;
    color: white;
    transition: all 0.3s ease-in-out;
    &:hover {
        color: $blue;
        background-color: white;
        border: 1px solid $mdblue;
    }
}
.prior.portfolio {
    width: 100%;
    .container--back {
        padding-left: 5%;
        margin-bottom: 1%;
        .button--back {
            @include title-styles (16);
            text-transform: uppercase;
            color: $blue;
            transition: all 0.3s ease-in-out;
            &:hover {
                color: $mdblue;
                text-shadow: 1px 1px 3px $ltgrey;
            }
        }
    }
}
// ----- TOOLS -----
.icons--list {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    i {
        font-size: 55px;
        padding-right: 10px;
        color: $blue;
        text-shadow: 1px 1px 3px $mdblue;
    }
}
.icons--list.spacing {
    margin: 60px 0;
    transition: all 0.3s ease-in-out;
}
// #html {
//     position: relative;
//     transition: all 0.3s ease-in-out;
//     &:hover::after {
//         position: absolute;
//         top: -20px;
//         left: -5px;
//         content: "HTML5";
//         @include title-styles(16);
//         font-weight: 600;
//         color: $blue;
//         text-shadow: 1px 1px 2px $ltblue;
//     }
// }
// #css {
//     position: relative;
//     &:hover::after {
//         position: absolute;
//         top: -20px;
//         left: -1px;
//         content: "CSS3";
//         @include title-styles(16);
//         font-weight: 600;
//         color: $blue;
//         text-shadow: 1px 1px 2px $ltblue;
//     }
// }
// #sass {
//     position: relative;
//     &:hover::after {
//         position: absolute;
//         top: -20px;
//         left: -5px;
//         content: "SASS";
//         @include title-styles(16);
//         font-weight: 600;
//         color: $blue;
//         text-shadow: 1px 1px 2px $ltblue;
//     }
// }
// #jquery {
//     position: relative;
//     transition: all 0.3s ease-in-out;
//     &:hover::after {
//         position: absolute;
//         top: -20px;
//         left: -5px;
//         content: "jQuery";
//         @include title-styles(16);
//         font-weight: 600;
//         color: $blue;
//         text-shadow: 1px 1px 2px $ltblue;
//     }
// }
// #js {
//     position: relative;
//     transition: all 0.3s ease-in-out;
//     &:hover::after {
//         position: absolute;
//         top: -20px;
//         left: -25px;
//         content: "JavaScript";
//         @include title-styles(16);
//         font-weight: 600;
//         color: $blue;
//         text-shadow: 1px 1px 2px $ltblue;
//     }
// }
// #react {
//     position: relative;
//     transition: all 0.3s ease-in-out;
//     &:hover::after {
//         position: absolute;
//         top: -20px;
//         left: 1px;
//         content: "React";
//         @include title-styles(16);
//         font-weight: 600;
//         color: $blue;
//         text-shadow: 1px 1px 2px $ltblue;
//     }
// }
// #gulp {
//     position: relative;
//     transition: all 0.3s ease-in-out;
//     &:hover::after {
//         position: absolute;
//         top: -20px;
//         left: 2px;
//         content: "Gulp";
//         @include title-styles(16);
//         font-weight: 600;
//         color: $blue;
//         text-shadow: 1px 1px 2px $ltblue;
//     }
// }
// #mobile {
//     position: relative;
//     transition: all 0.3s ease-in-out;
//     &:hover::after {
//         position: absolute;
//         top: -40px;
//         left: -35px;
//         content: "Responsive Design";
//         @include title-styles(16);
//         font-weight: 600;
//         color: $blue;
//         text-shadow: 1px 1px 2px white;
//     }
// }
// #ps {
//     position: relative;
//     transition: all 0.3s ease-in-out;
//     &:hover::after {
//         position: absolute;
//         top: -20px;
//         left: -25px;
//         content: "Photoshop";
//         @include title-styles(16);
//         font-weight: 600;
//         color: $blue;
//         text-shadow: 1px 1px 2px $ltblue;
//     }
// }
// #il {
//     position: relative;
//     transition: all 0.3s ease-in-out;
//     &:hover::after {
//         position: absolute;
//         top: -20px;
//         left: -25px;
//         content: "Illustrator";
//         @include title-styles(16);
//         font-weight: 600;
//         color: $blue;
//         text-shadow: 1px 1px 2px $ltblue;
//     }
// }
// ----- CONTACT -----
.contact--container__form {
    width: 100%;
    background-color: $ltblue;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    .contact--container__right {
        width: 65%;
    }
    .contact--container__left {
        width: 35%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex-wrap: wrap;
        padding-left: 5%;
        h3, p {
            text-align: left;
            padding: 10px 0;
        }
        a {
            text-decoration: none;
            color: $mdblue;
            @include paragraph-styles(16);
            font-weight: 400;
        }
        i {
            padding-left: 5px;
            color: $mdblue;
        }
    }
    form {
        width: 100%;
        padding: 5% 7% 5% 2%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        .full-name, .email {
            box-shadow: none;
            background-color: $ltblue;
            border: 1px solid white;
            width: calc(50% - 10px);
            margin: 5px;
            padding: 2% 1%;
            @include paragraph-styles(15);
        }
        .message {
            background-color: $ltblue;
            border: 1px solid white;
            width: calc(100% - 10px);
            margin: 5px;
            padding: 1% 1% 8%;
            @include paragraph-styles(15);
        }
        .hidden {
            display: none;
        }
        .submit {
            margin: 5px auto 0;
            padding: 10px;
            background-color: $ltblue;
            border: 1px solid white;
            @include title-styles(15);
            color: $mdgrey;
            transition: all 0.3s ease-in-out;
            &:hover {
                background-color: $mdblue;
                border: 1px solid $blue;
                color: white;
            }
        }
    }
}
// ----- FOOTER -----
footer {
    width: 100%;
    background-color: $dkgrey;
    display: flex;
    flex-direction: column;
    padding: 5% 0;
    .footer--container {
        display: flex;
        flex-direction: row;
        margin: 0 auto;
        ul {
            display: flex;
            flex-direction: row;
            margin: 0 auto;
            .footer--container__icon {
                border-top: 1px solid $mdgrey;
                border-bottom: 1px solid $mdgrey;
                border-left: 1px solid $mdgrey;
                margin: 0 auto 10px;
                padding: 8px;
                transition: all 0.3s ease-in-out;
                &:hover {
                    background-color: $blue;
                }
                .footer--icon {
                    color: $mdgrey;
                    font-size: 30px;
                    transition: all 0.3s ease-in-out;
                    &:hover {
                        color: white;
                    }
                }
            }
            .footer--container__icon.right {
                border-right: 1px solid $mdgrey;
            }
            .footer--container__img {
                width: 22px;
            }
        }
    }
}
// ------ RESPONSIVENESS ------
@media (max-width: 880px) {
    // PORTFOLIO
    .content--container__text {
        width: 100%;
        padding: 5%;
        h4 {
            text-align: center;
        }
        .content--container__button {
            justify-content: center;
            padding-left: 5%;
            .view-site, .github {
                width: 145px;
            }
        }
        .portfolio--skills {
            padding-right: 0;
            justify-content: space-between;
        }
    }
    .content--container__text.edges {
        padding: 5%;
    }
    .content--container__image {
        width: 65%;
        padding: 5% 0 5 5%;
        margin: 0 auto;
        border-top: none;
        // padding: 0 0 20px 0;
            img {
                width: 100%;
            }
    }
    .content--container__image.small {
        width: 65%;
        padding: 5% 0 5% 5%;
        margin: 0 auto;
        border-top: none;
        // padding: 0 0 20px 0;
        img {
            width: 100%;
        }
    }
}
@media (max-width: 770px) {
    // ABOUT
    .content--container__about,
    .content--container__image.background {
        width: 100%;
        padding: 5% 0;
    }
    // CONTACT
    .contact--container__form .contact--container__left,
    .contact--container__form .contact--container__right {
        width: 100%;
        padding: 0 5%;
    }
    .contact--container__form .contact--container__left {
        align-items: center;
    }
}
@media (max-width: 550px) {
    // PORTFOLIO
    .content--container__text {
        padding: 5% 0;
        .content--container__button {
            padding-left: 0;
        }
    }
    .content--container__image {
        height: 35vh;
        padding: 0 0 20px 0;
    }
    .content--container__image.small {
        height: 35vh;
        padding: 0 0 20px 0;
    }
    .portfolio--skills {
        justify-content: center;
    }
}
@media (max-width: 400px) {
    .content--container__image.small a {
        width: 100%;
    }
    .footer--container {
        .text--paragraph__small {
            text-align: center;
        }
    }
}